* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.logo-img {
  width: 80px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  background-color: #153c33;
  box-shadow: 0px 4px 20px hsla(207, 24%, 35%, 0.1);
  width: 100%;
  z-index: 1000;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: center;
}

.custom-col {
  width: 50%;
}

.hero-col {
  width: 50%;
}

.col-lg-4 {
  width: 33.33%; /* 4/12 = 33.33% width by default */
  padding-right: 15px;
  padding-left: 15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.unipadding {
  padding: 100px 60px 60px 60px;
}

h2 {
  font-size: 4em;
  font-weight: 800;
}

h3 {
  font-size: 3em;
  font-weight: 800;
}

p {
  font-size: 1.25em;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #153c33b3;
}

.default_button {
  display: inline-block;
  padding: 15px 55px 15px 20px;
  text-decoration: none;
  background: #619e90;
  color: #ffffff;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 60px;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 600;
}

.default_button::before {
  content: "";
  height: 36px;
  width: 36px;
  display: inline-block;
  background-image: url(/asset/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
  background-position: center center;
  background-color: #153c33;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 1.1em;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(10px, -50%);
  transition: all 0.5s ease-in-out;
}

.default_button::after {
  content: "";
  display: block;
  width: 0;
  height: 102%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 60px;
  background: #153c33;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.light_btn {
  background: #ffffff;
  color: #153c33b3;
}

.light_btn::after {
  background-color: #619e90;
}

.light_btn:hover {
  color: #ffffff;
}

.default_button:hover:after {
  width: 100%;
}

.default_button:hover::before {
  background-color: #619e90;
}

.default_button.light_btn:hover::before {
  background-color: #153c33b3;
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background: #153c331a;
  margin-top: 40px;
}

.home {
  background: #e6efed;
}

.hero-content h2 {
  color: #153c33;
}
.hero-content {
  color: #619e90;
}

.hero-button-box .light_btn {
  margin-left: 40px;
}

.home-img {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.showcase-number {
  margin: 40px 0;
}

.showcase-number h3 {
  font-weight: 900;
  margin-bottom: 5px;
}

.showcase-number p {
  font-size: 1em;
}

/* info */

.info {
  background: #153c33;
  padding: 50px 15px 0px 15px;
  color: white;
}

.info-main {
  display: flex;
  align-items: center;
}

.info-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 30px;
  padding: 30px 0px 30px 20px;
}

.info-logo {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #ffffff26;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
  left: 0;
  z-index: 1;
}

.info-logo::before {
  z-index: -1;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  transition: all ease-in 0.6s;
  display: block;
  transform: scale(0);
  border-radius: 10px;
}

.info-container:hover ::before {
  transform: scale(1);
}

.info-content {
  width: calc(100% - 80px);
}

.info-content h3 {
  font-size: 1.15em;
  text-transform: capitalize;
  font-weight: 900;
}

.info-content p {
  font-size: 1em;
  text-transform: capitalize;
  display: inline-block;
  color: #ffffff;
}

/* about */

#about-span,
.contact-block2 {
  background: #e6efed;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  color: #153c33;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}
.about-content {
  margin-left: 20px;
}
.about-content h3 {
  color: #619e90;
  margin: 25px 0;
}

.about-list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 25px 0 10px 0;
}

.about-list p {
  margin: 0;
  margin-left: 15px;
  color: #153c33b3;
}
.dr-box {
  margin-top: 40px;
}

.about-dr h5 {
  font-size: 1em;
  margin-top: 0;
  margin: 0;
}

.about-dr p {
  font-size: 1em;
  margin-top: 0;
  margin: 0;
}

.about-dr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  border-radius: 20px;
}

.doc_image {
  overflow: hidden;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: #e6efed;
}

.cont-btn {
  margin-top: 0.75rem;

  display: flex;

  justify-content: flex-start;
}

.common_section {
  background-color: #e6efed;
  padding: 20px;
}

.common_section_img img {
  width: 100%;
}

.common {
  display: flex;
  align-items: center;
}

.common-p-container {
  position: relative;
  width: 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0.5rem;
}

.common-img-container {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

/* service */

.service-block {
  padding: 30px 25px 40px 25px;
  border: 1px solid #153c331a;
  border-radius: 20px;
  height: calc(100% - 30px);
  margin-top: 30px;
  position: relative;
  text-align: center;
}

.service-logo {
  height: 55px;
  width: 55px;
  border-radius: 10px;
  background-color: #e6efed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.service-block h5 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service-block p {
  font-size: 17px;
  margin: 0;
  margin-bottom: 20px;
}

.service-block::after {
  content: " ";
  height: 0%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #619e90;
  z-index: -1;
  border-radius: 10px;
  transition: all ease-out 0.5s;
}

.service-block:hover {
  color: #ffffff;
}

.service-block:hover p {
  color: #ffffff;
}

.service-block:hover .service-logo {
  background: #ffffff;
}

.service-block:hover::after {
  height: 100%;
}

.service-block:hover .service-cta-btn::after {
  width: 102%;
}

.service-block:hover .service-cta-btn::before {
  background-color: #ffffff26;
}

.service-cta-btn {
  display: inline-block;
  padding: 15px 55px 15px 20px;
  text-decoration: none;
  background: #619e90;
  color: #ffffff;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 60px;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 600;
}

.service-cta-btn::before {
  content: "";
  height: 36px;
  width: 36px;
  display: inline-block;
  background-image: url(asset/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
  background-position: center center;
  background-color: #153c33;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 1.1em;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(10px, -50%);
  transition: all 0.5s ease-in-out;
}

.service-cta-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 102%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 60px;
  background: #153c33;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.service span {
  color: #619e90;
}

.s-block {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

.s-block2 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

#Gallery {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

#Gallery h3 {
  margin: 20px 0;
  color: #153c33;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  aspect-ratio: 3/4;
}

.gallery img:hover {
  transform: scale(1.05);
}

.clients {
  background-image: url(/asset/asset\ 67.svg);
  background-color: #e6efed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.client-title {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.client {
  margin: 30px 0;
  color: #153c33;
}

.client-container {
  height: 100%;
  justify-content: center;
  align-content: center;
}
.slider-container {
  display: flex;
  justify-content: center;
}
.client-box {
  max-width: 700px;
  padding: 30px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  border: 2px solid white;
}

.client-box p {
  font-size: 1em;
  text-align: left;
}

.client-name {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 1.05em;
  text-transform: capitalize;
}

.contact-box {
  max-width: 700px;
  text-align: center;
  margin: 15px auto;
  color: #153c33;
}

.contact-box h3 {
  margin: 30px 0;
  color: #619e90;
}

.innerbox {
  padding: 30px;
  outline: 1px solid #619e90;
  border-radius: 20px;
  height: 100%;
}

.innerbox p {
  font-size: 1.05em;
}

.contact-icon {
  height: 50px;
  width: 50px;
  background-color: #e6efed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contact-block {
  width: 25%;
  float: left;
  padding: 15px;
}

.map-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: center;
  margin-top: 3rem;
}

.map {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.contact-form {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.form-input {
  width: 50%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.form-textbox {
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.map iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

input,
textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  outline: none;

  border: 2px solid #619e90;
  border-radius: 10px;
}

.enquiry {
  background: #ffffff;
}


footer{
    text-align: center;
    padding: 10px;
    background: #a9d2c9;
}
footer a{
    text-decoration: none;
    color: #153c33;
}

@media only screen and (max-width: 950px) {
  .unipadding {
    padding: 80px 25px;
  }
  .hero-col {
    width: 100%;
  }
  .logo-img {
    width: 60px;
  }
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }

  .custom-col {
    width: 100%; /* default: full width on small screens */
  }

  .custom-col-md {
    width: 50%;
  }

  .d-lg-block {
    display: none; /* Hide on medium and smaller */
  }

  .info-main {
    flex-direction: column;
  }

  .info-container {
    width: 100%;
    margin-left: 20px;
  }

  .common-p-container {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2rem;
  }

  .common {
    padding: 1rem 4rem;
    line-height: 2rem;
  }

  .common-img-container {
    display: none;
  }

  .s-block {
    width: 50%;
  }
  .s-block2 {
    width: 100%;
  }

  .contact-block {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  .about-image {
    justify-content: flex-start;
  }
  .custom-col-md {
    width: 100%;
  }

  .common-p-container {
    padding: 1.25rem;
  }

  .s-block {
    width: 100%;
  }

  .contact-block {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .form-input {
    width: 100%;
  }
}
